 *  body {
    background-image: url("images/mainbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
   
.assignmenttxt {
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    background-color: cornflowerblue;
    opacity: 0.9; }




h1 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: rgb(109, 6, 29);
    color: blanchedalmond;
}

.logo {
    text-align: center;
    border: thin, solid, black;
    padding: 3px;
    margin: 3px; }

.blrwtch {
    display: block;
    margin: 0 auto;
   
    
  }
    
.vsg {
    display: block;
    margin: 0 auto;
}
      
    

.large {
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    background-color: cornflowerblue;
    opacity: 0.9; }

* .links {
    text-align: center;
}
a:link {
    background-color: cornflowerblue;
    opacity: 0.9; }

a:link {
        text-decoration: none;
      }   
a:visited {
        text-decoration: none; }
 a:link, a:visited {
           
     color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
                       
          }
.insta {
    width: 200px;
    length: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
    
    
}

#INSTAGRAM {
    color: gainsboro;
    text-align: center;
    font-family: 'Special Elite', cursive;
}

h2 {
    font-size: 30px;
    text-align: center;
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color: cornflowerblue;
    opacity: 0.9; }


    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 50%;
        border: royalblue;
        border-style: solid;
      }

.Blair_witch {
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color: rgb(129, 35, 148);
    opacity: 0.9; }
    

.visage { 
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color:rgb(129, 35, 148);
    opacity: 0.9; }


.phas {

    font-family: 'Special Elite', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color:rgb(129, 35, 148);
    opacity: 0.9; }


.songofhorror {

    font-family: 'Special Elite', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color:rgb(129, 35, 148);
    opacity: 0.9; }

.amnesia {

    font-family: 'Special Elite', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color:rgb(129, 35, 148);
    opacity: 0.9; }

.firstvid {

    text-align: center;
    
    
}

.firstvidtxt {
    font-family: 'Special Elite', cursive;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color:rgb(129, 35, 148);
    opacity: 0.9; }

.secondvid {
    border: cadetblue;
    border-style: solid;
    border-width: 4px;
    text-align: center; 
}

.secondvidtxt {
    font-family: 'Special Elite', cursive;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color: cornflowerblue;
    opacity: 0.9; }


.thirdvid {
    border: cadetblue;
    border-style: solid;
    border-width: 4px;
    text-align: center;
}
.thirdvidtxt {
    font-family: 'Special Elite', cursive;
    font-size: 200%;
    color: rgb(255, 255, 255);
    text-align: center;
    border: black;
    border-style: solid;
    text-decoration-color: black;
    background-color: cornflowerblue;
    opacity: 0.9; }
